:root {
    --primary-color: #4a76ee;
    --text-color: #1a1c20;
    --background-color: #eeeff1;
    --background-color-h: #1a1c20;
    --text-color-h: #eeeff1;
    --white: #ffffff;
    --gray: #666666;
    --transition: all 0.3s ease;
    --background-color-tech: #ddd;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}


section {
    padding: 2em 7em ;
    max-width: 1200px;
}


@media (max-width: 768px) {
    .text{
        display: none;
    }
    .list-li a.active.active{
    background-color: var(--background-color);
    color: var(--text-color);
   }
   .list-li a.active.active:hover{
    background-color: var(--background-color-h);
    color: var(--text-color-h);
   }
   .icon{
    font-size: large;
   }
   .my-name{
    font-size: xx-large;
   }
   header{
    display: inline;
    padding-top: 0;
   }
   section{
    padding: 0 1em;
   }
   .about{
    display: flex;
    flex-direction: column;
   }
   .about p{

   }
   h1{
    width: 100%;
    
   }
   .img{
    width: 100%;
   }
    

   
}

/* 🔹 Header */
header {
    color: var(--text-color);
    max-width: 1200px;
    margin:  0 auto;
}
.hero{
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-name {
    font-size: 14px;
    font-weight: 550;
}

.list-li {
    display: flex;
    list-style: none;
}


.list-li li {
    padding-left: 1em;
}

.list-li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
    padding: 0.2em 0.5em ;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 5px;
    transition: var(--transition);
}


.list-li a:hover,
.list-li a.active { 
    background-color: var(--background-color-h);
    color: var(--text-color-h);
}
.icon-E{
    font-size: 12px;
}
h1{
    font-size: 30px;
}
.hero {
    display: flex;
    gap: 2em;
}

.about {
    padding: 3rem 0 0 0;
}

.about p{
    font-size: 13px;
    padding-bottom: 1rem;
    
}

.img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.svg{
    width: 14px;
}

.btn a{
    fill: var(--primary-color); 
    text-decoration: none;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    margin-right: 0.5em;
    padding: 0.25em;
    border-radius: 5px;
    font-size: 14px;
}
.btn a:hover{
    color: var(--text-color);
    border-color: var(--text-color);
    fill: var(--text-color);
    transition: 0.3s ;
}
.btn a:not(:hover){
    transition: 0.3s;
}

.btn{
    
}
.icon{
    padding-right: 0.3em;
    text-decoration: none;

}
h2{
    text-align: center;
    margin-top: 2re;
}
.MySkills{
    font-size: 13px;
    text-align: center;
}

#skills{
    display: flex;
    justify-content: center;

}
#skills a{
    text-decoration: none;
    font-size: 13px;
    color: var(--text-color);
    width: 8rem;
    text-align: center;
    margin: 1em;
    border: solid var(--primary-color) 1px;
    border-radius: 5px;
    padding: 0.5em;
}

.project-card{
    display: grid;

}
#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.project-card {
    background: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}


.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.project-card h3 {
    font-size: 1em;
    margin: 15px 15px 8px 15px;
    color: var(--text-color);
}

.project-card p {
    font-size:13px;
    margin: 0 15px 15px;
    color: #666;
}

.link-container {
    display: flex;
    padding: 15px;
    
}

.link-container a {
    text-decoration: none;
    color: var(--primary-color);
    padding-right:1em ;
    font-size: 14px;
}

.link-container a:hover {
    text-decoration: underline;
}
.tech{
    border: 1px solid var(--background-color-tech);
    border-radius: 5px;
    background-color: var(--background-color-tech);
    padding:  0.2em;
    margin-left: 0.5em;
    font-size: 14px;
}
.testimony{
    border-radius: 50%;
 
} .testimony {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.testimony img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #ddd;
}

.testimony h3 {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    margin: 5px 0;
    width: 100%;
}
#people{
    width: 100%;

}

.testimony p {
    color: var(--text-color);
}

.comment {
    padding: 10px;
}
#h3{
    text-align: center;
    font-size: 19px;
}
.commit{
    color: var(--text-color);
    text-align: left;
    padding-left: 2rem;
}

